<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>FEND CAPSTONE</title>
    </head>

    <body>

        <header>
            <div class="">
                <h1>Travel Planner</h1>
            </div>
        </header>

        <main id="mainContainer" class="l-container">
            <section class="form-wrapper" id="formWrapper">
                <form class="form" id="myForm">
                    <div class="form__field-group">
                        <input class="form__field" type="text" id="city" placeholder="Enter City">
                        <input class="form__field" type="text" id="country" placeholder="Enter Country Code">
                    </div>
                    <div class="form__field-group">
                        <input class="form__field" type="date" id="startDate">
                        <input class="form__field" type="date" id="endDate">
                    </div>
                </form>
                <button class="btn-primary" id="generate" value="submit">Search</button>
            </section>

            <section id="trips" class ="trips">
            </section>

        </main>

        <footer>
            <p>Powered by the Weatherbit API</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
