

/* atoms */
.day__data{}
.day__data--date{}
.day__data--img{}
.day__data--temp-max{}
.day__data--temp-low{}
.day__data--description{}


.raised-background{
  //background-color: RGBA(236 250 254);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #112c33;
  border: none;
  box-shadow: 5px 6px 12px 0 RGBA(0 53 84 / 20%),
  -4px -5px 10px 0 RGBA(255 255 255 / 12%);
  border-radius: 13px;
}


/* molecules */
.day{
  text-align: center;


}

/* organisms */
.weather-forecasts{
  /*grid*/
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}


//atoms
.banner-img{
  width: 100%;
  height: auto;
}

// molecule
.banner{

}
