.form-wrapper{
    max-width: 1024px;
    //padding: 3.815rem;
    // border-radius: 0px;
    //background: #e8e8e8;
    //box-shadow:  9px 9px 8px 0px #d5d5d5, -9px -9px 18px #ffffff
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    // border-radius: 4em;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-wrap: wrap;
    //gap: 1rem;
    //padding:1.953rem;
    // border-radius: 2em;
    background: #fbfbfb;
    //box-shadow: 9px 9px 12px #cecece, -9px -9px 12px #e8e8e8;
    box-shadow: 9px 9px 12px #f1eded, -9px -9px 12px #f3f2f2;
}

.form__field-group{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 388px;
    padding: 0.512rem;
    border: solid 1px #ececec;
    // border-radius: 1em;
}


.form__field {
    flex: 1 1 100px;
    overflow: hidden;
    position: relative;
    border: none;
    // border-radius: 0px;
    background: #fbfbfb;
    box-shadow: inset 5px 5px 2px 0px #f3f3f3, inset -4px -4px 9px #ffffff;
    padding: 0.8rem 3.815rem 0.8rem 1.25rem;
    margin: 0.3535rem;
    &:hover{
        box-shadow: inset 5px 5px 2px 0px #e5e5e5, inset -4px -4px 9px #ececec;
    }
}

.btn-primary {
    width: 248px;
    border-radius: 300px;
    padding: 0.8rem 0 0.8rem;
    font-size: 0.8rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.488rem;
    border: solid 1px #ececec;
    // border-radius: 1.1em;
    background: #fbfbfb;
    box-shadow: 9px 9px 12px #f1eded, -9px -9px 12px #f3f2f2;

    &:hover{
        box-shadow: 9px 9px 12px #d4d0d0, -9px -9px 12px #d4d2d2;
    }
}
